<div class="big-cat-block">
    <div class="big-cat-block-left" style="background: #{{ blockBg }}">
        <div class="big-cat-block-left-text">
            <span class="small-text">{{ smallText}}</span>
            <span class="large-text">{{ largeText }}</span>
            <a class="button" href="{{ btnLink }}" >{{ btnText}}</a>
        </div>
    </div>
    <div class="big-cat-block-right">
        <img src="/wp-content/uploads/{{ imgSrc }}" alt="{{ imgAlt }}" />
    </div>
</div>

