<div class="three-cat-block-wrap">

    <div class="three-cat-block">
        <a class="link" href="{{ link }}"> </a>
        <div class="three-cat-block-text">
            <span class="small-text">{{ smallText }}</span>
            <span class="large-text">{{ largeText }}</span>
        </div>
        <img src="/wp-content/uploads/{{ imgSrc }}" alt="{{ imgAlt }}" />
    </div>

    <div class="three-cat-block">
        <a class="link" href="{{ link2 }}"> </a>
        <div class="three-cat-block-text">
            <span class="small-text">{{ smallText2 }}</span>
            <span class="large-text">{{ largeText2 }}</span>
        </div>
        <img src="/wp-content/uploads/{{ imgSrc2 }}" alt="{{ imgAlt2 }}" />
    </div>

    <div class="three-cat-block">
        <a class="link" href="{{ link3 }}"> </a>
        <div class="three-cat-block-text">
            <span class="small-text">{{ smallText3 }}</span>
            <span class="large-text">{{ largeText3 }}</span>
        </div>
        <img src="/wp-content/uploads/{{ imgSrc3}}" alt="{{ imgAlt3 }}" />
    </div>

</div>