<div class="two-cat-block-wrap">

    <div class="two-cat-block">
        <a class="link" href="{{ link }}"></a>
        <div class="two-cat-block-text">
            <span class="small-text">{{ smallText }}</span>
            <span class="large-text">{{ largeText}}</span>
        </div>
        <img src="/wp-content/uploads/{{ imgSrc }}" alt="{{ imgAlt }}" />
    </div>

    <div class="two-cat-block">
        <a class="link" href="{{ link2 }}"></a>
        <div class="two-cat-block-text">
            <span class="small-text">{{ smallText2 }}</span>
            <span class="large-text">{{ largeText2}}</span>
        </div>
        <img src="/wp-content/uploads/{{ imgSrc2 }}" alt="{{ imgAlt2 }}" />
    </div>

</div>